.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  margin-top: 10px;
  background-color: #282c34;
  min-height: 5vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.root-div {
  background: linear-gradient(90deg,rgba(16, 103, 196, 1) 15%, rgba(107, 82, 209, 0.94) 47%, rgba(104, 86, 209, 0.94) 69%, rgba(101, 42, 184, 0.94) 100%);
  transition: filter 0.3s ease-in-out;
}

.root-div.active-blur {
  filter: blur(10px);
  opacity: 0.8;
  z-index: 998;
  pointer-events: none;
}

.pop-up-div {
  position: relative;
  top: 60px;
  z-index: 1000;
}

.map-switch {
  border-radius: 4px;
}

.login-account {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 1000;
  width: 48px;
  height: 48px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-account-img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  display: block;
}